h2, .hungry{
    margin-left: 30px;
}

li{
    list-style: none;
}

button{
    width: 200px;
    height: 50px;
    margin-left: 30px;
    font-size: 1.5rem;
    background-color: rgb(243, 243, 157);
}

.backBtn{
    color: white;
    font-size: medium;
    width: 180px;
    height: 40px;
    background-color: rgb(237, 192, 200);
    margin-bottom: 30px;
    margin-left: 40%;
}

/* 959px, tablet */
@media screen and (max-width: 959px){
    body {
        text-align: center;
        display:block;
    }
    .backBtn {
        margin-left: 0;
    }
}

/* 480px, smart phone */
@media screen and (max-width: 480px) {
        body{
            margin-right: 15px;
        }

        .longDescription{
            
            text-align:start;
        }
}